     {% extends 'layout/index.html' %}

    {% block content %}

    <div class="animal_body">

        <div>
            <table class="table">
                <tr class="table-h">
                    <th><strong>Phylum</strong></th>
                    <th><strong>Region</strong></th>
                    <th><strong>Major groups</strong></th>
                    <th><strong>pop. (millions)</strong></th>
                </tr>
                <tr class="table-row">
                    <td>Khoisan</td>
                    <td>Southern Africa, Tanzania</td>
                    <td>Nama, San, Sandawe, Kung ǃXóõ</td>
                    <td>1</td>
                </tr>
                <tr class="table-row">
                    <td>Afro-Asiatic</td>
                    <td>North Africa, Horn of Africa, Sahel</td>
                    <td>Amhara, Hausa, Oromo, Somali, Tachelhit Berber, Tigrayan</td>
                    <td>200</td>
                </tr>
                <tr class="table-row">
                    <td>Nilo-Saharan</td>
                    <td>Nile Valley, Sahel, East Africa</td>
                    <td>Dinka, Kanuri, Luo, Maasai, Nuer</td>
                    <td>60</td>
                </tr>
                <tr class="table-row">
                    <td>Austronesian</td>
                    <td>Madagascar</td>
                    <td>Malagasy</td>
                    <td>20</td>
                </tr>
                <tr class="table-row">
                    <td>Indo-European</td>
                    <td>Central Africa, East Africa, North Africa, Southern Africa, West Africa</td>
                    <td>Afrikaners, British, French</td>
                    <td>6</td>
                </tr>
                <tr class="table-row">
                    <td><strong>Total</strong></td>
                    <td><strong>Africa</strong></td>
                    <td> </td>
                    <td><strong>1.2 billion (UN 2016)</strong></td>
                </tr>

            </table>


        </div>

    </div>


    {% endblock %}
  